* {
font-family: "Maple Mono NF CN";
font-size: 13px;
}

window#waybar {
    background-color: #282828;
    color: #ebdbb2;
}

#custom-power {
padding: 0;
min-width: 32px;
background-color: #cc241d;
color: #ebdbb2;
margin: 0;
font-weight: bold;
font-size: 16px;
}

#custom-power:hover {
background-color: #fb4934;
}

#workspaces {
    margin: 0;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ebdbb2;
    font-weight: normal;
    font-size: 11px;
    min-width: 25px;
    border: none;
    border-radius: 0;
}

#workspaces button.empty {
    padding: 0 5px;
    background-color: transparent;
    color: #ebdbb2;
}

#workspaces button.active {
    background-color: #887fcd;
    color: #282828;
    font-weight: bold;
}

#workspaces button.occupied {
    padding: 0 5px;
    background-color: transparent;
    color: #ebdbb2;
    font-weight: normal;
}

#workspaces button:hover {
    background-color: rgba(136, 127, 205, 0.3);
}

#window,
#clock,
#cpu,
#memory,
#battery,
#network,
#pulseaudio,
#tray {
padding: 0 10px;
background-color: #3c3836;
color: #ebdbb2;
margin: 4px 0;
}

#mpris {
padding: 0 10px;
background-color: #3c3836;
color: #ebdbb2;
margin: 4px 0;
min-width: 110px;
border-left: 3px solid #504945;
}

#mpris.playing {
background-color: #98971a;
color: #282828;
border-left: 3px solid #b8bb26;
}

#mpris.paused {
background-color: #d79921;
color: #282828;
border-left: 3px solid #fabd2f;
}

#mpris.stopped {
background-color: #504945;
color: #928374;
border-left: 3px solid #665c54;
}

#battery.charging {
background-color: #98971a;
color: #282828;
}

#battery.warning:not(.charging) {
background-color: #fabd2f;
color: #282828;
}

#battery.critical:not(.charging) {
background-color: #cc241d;
color: #ebdbb2;
animation: blink 1s linear infinite;
}

@keyframes blink {
    to {
        background-color: #282828;
    }
}

#pulseaudio.muted {
background-color: #458588;
}

#custom-cava {
padding: 0 12px;
background-color: transparent;
color: #98971a;
margin: 4px 0;
font-weight: bold;
min-width: 80px;
font-size: 14px;
}

#custom-screenshot {
padding: 0 10px;
background-color: #3c3836;
color: #ebdbb2;
margin: 4px 0;
font-size: 14px;
}

#custom-screenshot:hover {
    background-color: #83a598;
}
